<div class="bg-dark d-flex py-2 justify-content-between" py:5pxstyle="height: 6vh;">
  <!-- <span class="text-light text-uppercase" routerLink="/">logo</span> -->
  <img src="/assets/schoolimage.png " style="height: 65px; width:95px" routerLink="/" alt="...">
  <div>
    <button routerLink="login" class="btn btn-outline-warning mx-2">Login</button>
    <button routerLink="/" class="btn btn-outline-warning mx-2">Signup</button>

  </div>
</div>
<div class="bg-light d-flex" style="height: 94vh;">
  <div class="col-2 border-end border-2">
    <app-side-nav></app-side-nav>
  </div>
  <div class="col-10"><router-outlet></router-outlet></div>
</div>